# for python3
# conda repos: defaults, bioconda, conda-forge, r

samtools
bedtools
picard
fastqc
homer

ucsc-bedgraphtobigwig
ucsc-bedsort

r-base
r-essentials
r-devtools
r-corrplot
r-ggpubr
r-RColorBrewer
r-snow
r-snowfall
r-bitops
r-catools
bioconductor-rsamtools
bioconductor-deseq2
bioconductor-impulsede2
bioconductor-complexheatmap

bowtie2
bwa
deeptools
cutadapt
trim-galore
macs2

libgcc
pyopenssl
gsl
matplotlib
java-jdk
