# for python3
# conda repos: defaults, bioconda, conda-forge, r

tabix
samtools
htslib ==1.9
sambamba ==0.6.6
samstats ==0.2.1
bedtools
picard
fastqc
homer

ucsc-bedgraphtobigwig
ucsc-bigwiginfo
ucsc-bedclip
ucsc-bedtobigbed
ucsc-bigWigAverageOverBed
ucsc-bedsort

r-base
r-essentials
r-devtools
r-corrplot
r-ggpubr
r-RColorBrewer
r-snow
r-snowfall
r-bitops
r-catools
bioconductor-rsamtools
bioconductor-deseq2
bioconductor-impulsede2
bioconductor-complexheatmap

libiconv
bowtie2
bwa
pysam
pybedtools
pybigwig
openssl ==1.0.2t  # important to get the same random seed for "shuf"
deeptools
cutadapt
pyfaidx
trim-galore
macs2

jsondiff ==1.1.1
libgcc
requests
ncurses
ghostscript
wget
pyopenssl

numpy
scipy
pandas
jinja2
gsl
matplotlib

java-jdk
caper
croo
